<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      background:
            /* top, transparent black, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
      url("{{ url_for('static', filename = 'images/wp4.jpg')}}");
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    </style>
    <body>
  
      <div id = "main-wrapper"
      style="width: 925px;
      margin: 0 auto;
      background: white;
      border-radius: 45px;
      padding: 5px;
      height: 900px;">
  <br><center><h1 style="color:	#191970; font-size: 60px;"><img src="{{ url_for('static', filename = 'images/ct.jpg')}}" alt="" width="80" height="80">Diet Plan 2<img src="{{ url_for('static', filename = 'images/ct.jpg')}}" alt="" width="80" height="80"></h1></center><br>
  <div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Breakfast</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >3 to 4 slices of whole wheat bread toast with peanut butter + 3 egg whites + 1 full egg omelette OR 1 cup of low fat milk + 1 scoop of whey protein+ 150 gms of oatmeal + 1 banana+ a few almonds+ walnuts.</p>
</div>


<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Lunch</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >150 gms of brown rice or whole wheat chapattis + 150 gms of skinless chicken breast / fish + 1 bowl of mixed vegetables+ green chutney+ salad</p>
</div>

<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Dinner</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >1 small fish or 100 gms of skinless/ lean chicken + stir fried veggies with baked potato + 1 cup of brown rice/ whole wheat chappati</p>
</div>
<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Snack</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >1 fruit + 1 cup of low fat yoghurt or 1 cup of low fat milk with 1 scoop of whey protein or whole wheat bread 3 egg whites/ steamed chicken sandwich.</p>
</div></div>
    
</body>
</html>