<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
      background:
            /* top, transparent black, faked with gradient */ 
            linear-gradient(
              rgba(0, 0, 0, 0.7), 
              rgba(0, 0, 0, 0.7)
            ),
      url("{{ url_for('static', filename = 'images/wp4.jpg')}}");
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    </style>
    <body>
  
      <div id = "main-wrapper"
      style="width: 925px;
      margin: 0 auto;
      background: white;
      border-radius: 45px;
      padding: 5px;
      height: 900px;">
  <br><center><h1 style="color:	#191970; font-size: 60px;"><img src="{{ url_for('static', filename = 'images/ct.jpg')}}" alt="" width="80" height="80">Diet Plan 4<img src="{{ url_for('static', filename = 'images/ct.jpg')}}" alt="" width="80" height="80"></h1></center><br>
  <div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Breakfast</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >Scrambled Eggs / Protein Pancake / Greek Yogurt and Almonds or walnut / Protein Shake with oatmeal / Greek yogurt with whole grain granola and berries</p>
</div>


<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Lunch</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >grilled chicken breast, mixed greens, and baked sweet potato / lean ground beef burger on lettuce with tomato, onion, and green beans / grilled fish with a spinach salad / </p>
</div>

<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Dinner</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >broiled fish, green beans with brown rice / shrimp stir-fried with bell pepper and brown rice over spinach / broiled fish, brown rice, and a mixed green salad / sirloin steak with sweet potato and asparagus</p>
</div>
<br>
<div id = "mai"
  style="width: 850px;
  margin: 0 auto;
  background-image: linear-gradient(to right, 	#87ceeb , #817971);
  padding: 1px;
  height: 150px;"
  >
  <ul>
    <li style="color:	#191970; font-size: 26px; font-weight: bold;">Snack</li>
    <p style="color:	black; font-size: 20px; font-weight: bold;" >Protein shake / apples with natural nut butter / veg sandwich / milk and apple</p>
</div></div>
    
</body>
</html>